// colours
$color-grey-medium-1: rgb(100, 100, 100);
$color-grey-medium-5: rgb(150, 150, 150);
$color-grey-light-1: rgb(200, 200, 200);

$color-primary: rgb(255, 190, 70);
$color-accent: rgb(220, 140, 40);

// dimensions
$width-mobile: $widthMobile + px;

